<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Шкалы</title>
    <title>{% block title %} {% endblock %}</title>
    {% extends "layout.html" %}
{% block content %}
</head>
<body>
<div class="table ">
 <table border="1">
    <caption>Шкала комы Глазго</caption>
   <tr>
    <th>Тяжесть состояния</th>
    <th>Баллы</th>
   </tr>
   <tr><td>Ясное</td><td>15</td></tr>
   <tr><td> Умеренное оглушение</td><td>13-14</td></tr>
   <tr><td>Глубокое оглушение</td><td>12-11</td></tr>
   <tr><td>Сопор</td><td>8-10</td></tr>
   <tr><td>Умеренная кома</td><td>7-6</td></tr>
     <tr><td>Глубокая  кома</td><td>5-4</td></tr>
      <tr><td>Глубокая  кома</td><td>3</td></tr>
  </table>
</div>
 <div class="table ">
<table border="2">
    <caption>Шкала RTS</caption>
   <tr>
    <th>Тяжесть состояния</th>
    <th>Баллы</th>
   </tr>
   <tr><td>Легкое</td><td>>12</td></tr>
   <tr><td> Тяжелое</td><td><11</td></tr>
   <tr><td>Крайне тяжелое</td><td>0</td></tr>
  </table>
</div>
</div class="table">
<table border="3">
    <caption>Шкала AIS</caption>
   <tr>
    <th>Тяжесть состояния</th>
    <th>Код AIS</th>
   </tr>
   <tr><td>Незначительная</td><td>1</td></tr>
   <tr><td> Умеренная</td><td>2</td></tr>
    <tr><td>Опасная</td><td>3</td></tr>
   <tr><td>Тяжелая</td><td>4</td></tr>
   <td>Угрожающая</td><td>5</td></tr>
    <td>Максимальная</td><td>6</td></tr>
  </table>
  </div>
</div class="table">
<table border="4">
    <caption>Шкала ISS</caption>
   <tr>
    <th>Вид повреждения</th>
    <th>баллы</th>
   </tr>
   <tr><td>1. Черепно-мозговая травма: легкой степени тяжести, средней степени тяжести, тяжелой степени тяжести, крайне тяжелой степени</td><td> 1

9 25 36</td></tr>
   <tr><td> 2. Переломы позвоночника: не осложненные одиночные множественные осложненные (кроме верхне-шейной локализации) осложненные верхне-шейные с тяжелыми нарушениями витальных функций</td><td> 4 9 16

36</td></tr>
    <tr><td>3. Ушиб сердца</td><td>16</td></tr>
   <tr><td>4. Сквозное ранение сердца</td><td>25</td></tr>
   <td>5. Ушиб легкого</td><td>9</td></tr>
    <td>6. Разрыв легкого</td><td>9</td></tr>
    <td>7. Разрыв легкого с напряженным пневмогемотораксом</td><td>9</td></tr>
    <td>8. Множественный перелом ребер</td><td>4</td></tr>
    <td>9. Разрыв диафрагмы</td><td>9</td></tr>
    <td>10. Разрыв печени</td><td>25</td></tr>
    <td>11. Разрыв селезенки</td><td>25</td></tr>
    <td>12. Проникающие ранения кишечника</td><td>16</td></tr>
    <td>13. Проникающее ранение желудка</td><td>16</td></tr>
    <td>14. Ушиб почки</td><td>9</td></tr>
    <td>15. Разрыв почки</td><td>25</td></tr>
    <td>16. Разрыв мочевого пузыря</td><td>16</td></tr>
    <td>17. Разрыв уретры</td><td>16</td></tr>
    <td>18. Разрыв влагалища</td><td>16</td></tr>
    <td>19. Разрыв прямой кишки</td><td>25</td></tr>
    <td>20. Переломы плечевой кости</td><td>9</td></tr>
    <td>21. Травматическая ампутация плеча</td><td>9</td></tr>
    <td>22. Переломы костей предплечья: открытый,закрытый</td><td>4, 4</td></tr>
    <td>23. Травматическая ампутация предплечья</td><td>9</td></tr>
    <td>24. Переломы костей кисти: открытый, закрытый</td><td>4, 4</td></tr>
    <td>25. Переломы бедреной кости)открытый и закрытый)</td><td>9</td></tr>
    <td>26. Травматическая ампутация бедра</td><td>16</td></tr>
    <td>27. Переломы голени открытые и закрытые</td><td>9</td></tr>
    <td>28. Травматическая ампутация голени</td><td>9</td></tr>
    <td>29. Травматическая ампутация стопы</td><td>9</td></tr>
    <td>30. Переломы костей стопы</td><td>4</td></tr>
    <td>31. Переломы переднего полукольца таза</td><td>4</td></tr>
    <td>32. Переломы заднего полукольца таза</td><td>4</td></tr>
    <td>33. Множественные переломы костей таза</td><td>9</td></tr>
    <td>34. Вывихи в крупных суставах</td><td>9</td></tr>
    <td>35. Обширные скальпированные раны</td><td>4</td></tr>
    <td>36. Разрыв трахеи или главных бронхов</td><td>25</td></tr>
    <td>37. Разрыв аорты</td><td>36</td></tr>
    <td>38. Множественные, одно- и двухсторонние переломы лицевого скелета</td><td>9</td></tr>
    <td>39. Переломы лопатки</td><td>4</td></tr>
    <td>40. Переломы ключицы</td><td>4</td></tr>
    <td>41. Переломы грудины</td><td>4</td></tr>
    <td>42. Перелом надколенника</td><td>4</td></tr>


  </table>
  </div>

</body>
{% endblock %}
</html>