<div class="tables-container revealator-slideup revealator-duration5 revealator-once">
<div class="table revealator-slideright revealator-duration7 revealator-delay5 revealator-once" >
 <table class="table_blur" border="3">
    <caption>Шкала комы Глазго</caption>
   <tr>
    <th>Тяжесть состояния</th>
    <th>Баллы</th>
   </tr>
   <tr><td>Ясное</td><td>15</td></tr>
   <tr><td> Умеренное оглушение</td><td>13-14</td></tr>
   <tr><td>Глубокое оглушение</td><td>12-11</td></tr>
   <tr><td>Сопор</td><td>8-10</td></tr>
   <tr><td>Умеренная кома</td><td>7-6</td></tr>
     <tr><td>Глубокая  кома</td><td>5-4</td></tr>
      <tr><td>Глубокая  кома</td><td>3</td></tr>
  </table>
</div>
 <div class="table revealator-zoomout revealator-duration7 revealator-delay7 revealator-once">
<table class="table_blur" border="3">
    <caption>Шкала RTS</caption>
   <tr>
    <th>Тяжесть состояния</th>
    <th>Баллы</th>
   </tr>
   <tr><td>Легкое</td><td>>12</td></tr>
   <tr><td> Тяжелое</td><td><11</td></tr>
   <tr><td>Крайне тяжелое</td><td>0</td></tr>
  </table>
</div>
<div class="table revealator-slideleft revealator-duration7 revealator-delay5 revealator-once">
<table class="table_blur" border="3">
    <caption>Шкала AIS</caption>
   <tr>
    <th>Тяжесть состояния</th>
    <th>Код AIS</th>
   </tr>
   <tr><td>Незначительная</td><td>1</td></tr>
   <tr><td> Умеренная</td><td>2</td></tr>
    <tr><td>Опасная</td><td>3</td></tr>
   <tr><td>Тяжелая</td><td>4</td></tr>
   <td>Угрожающая</td><td>5</td></tr>
    <td>Максимальная</td><td>6</td></tr>
  </table>
  </div>
</div>